.general {
  background: url(../img/images/general-bg.jpg) center center / cover no-repeat;
  .h4-title {
    font-weight: 700;
    font-size: 26px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px 0 80px;
  }
  &__logo-wrapper {
    display: inline-block;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  &__logo {
    width: 47px;
    height: 43px;
    object-fit: cover;
  }
  &__text {
    font-size: 19px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    max-width: 1108px;
  }
}
